<launch>

  <!--Gazebo empty world launch file-->

  <!--Robot Description from URDF-->
  <param name="objects" command="$(find xacro)/xacro --inorder $(find my_robot)/urdf/objects.urdf.xacro"/>
  
  <param name="use_gui" value="true"/>

  <!--Nodes-->

  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param objects -model objects" output="screen"/>


</launch>