<?xml version="1.0"?>

<robot name="object_class_0">
    <link name="main">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="0.3"/>
            <inertia ixx="0.1667" ixy="0.0" ixz="0.0" iyy="0.1667" iyz="0.0" izz="0.1667"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="1.0 1.0 1.0"/>
                <uri> </uri>
                <mesh filename="file:///home/baraa-ubuntu18/Desktop/project/src/objects_description/0.dae" />
            </geometry>
            <material name="LightGrey">
                <color rgba="0.7 0.7 0.7 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="1.0 1.0 1.0"/>
                <mesh filename="file:///home/baraa-ubuntu18/Desktop/project/src/objects_description/0.stl" />
            </geometry>
        </collision>
    </link>
</robot>
